
.env
*.env
client_secret*.json
token.json

*.mp4
*.mov
*.avi


__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache
.venv/
venv/
env/


bin/
obj/
*.user
*.suo
*.pdb
*.log


.vs/
*.rsuser


Thumbs.db
desktop.ini
.DS_Store
*.swp


ffmpeg_bin/
downloads/
Downloads/
done_compilation/
settings.json


publish/
dist/
